
.home-title {
    color: #432F21;
}
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-default.outline {
    border: 2px solid #423F21;
    color: #423F21;
}
.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open> .dropdown-toggle.btn-default {
    color: #341112;
    border-color: #341112;
}
.btn-default.outline:active, .btn-default.outline.active {
    border-color: #230506;
    color: #230506;
    box-shadow: none;
}
.fa.fa-color-home {
    color: #CA171B;
}
.thumbnail.thumbnail-color {
    background-color: #DFDED4;
}
.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #D6D3C4;
    color: #432F21;
}
.row-footer-content {
    margin: 0px auto;
    padding: 20px 0px;
}
.row-header-content {
    margin: 0px auto;
    padding: 60px 0px;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    min-height: 100vh;
}
.home-feature-title {
    font-family: 'Lobster Two', cursive;
    color: #432F21;
}
span.glyphicon-triangle-bottom {
    font-size: 2em;
}
.
/*Navbar Colors*/


/* MEDIA SPECIFIC STYLES */


/*Very small devices (less then 768px)*/

@media (min-width: 300px) {
    h1.home-title {
        font-size: 60px;
        font-family: 'Lobster Two', cursive;
        color: #432F21;
    }
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    h1.home-title {
        font-size: 80px;
        font-family: 'Lobster Two', cursive;
        color: #432F21;
    }
}

/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    h1.home-title {
        font-size: 120px;
        font-family: 'Lobster Two', cursive;
        color: #432F21;
        padding-top: 100px;
    }
}

/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    h1.home-title {
        font-size: 150px;
        font-family: 'Lobster Two', cursive;
        color: #432F21;
        padding-top: 200px;
    }
}
